.account {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-container {
    margin-top: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-btn {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-btn:hover {
    background-color: #0056b3;
  }
  
  .page-link-label {
    text-decoration: none;
    color: #007bff;
  }
  
  .page-link-label:hover {
    text-decoration: underline;
  }
  
  .sign-up-label {
    text-align: center;
    margin-top: 20px;
  }
  
  .sign-up-link {
    text-decoration: none;
    color: #007bff;
  }
  
  .sign-up-link:hover {
    text-decoration: underline;
  }
  