/* Menu.css */

.menu-container {
    padding: 20px; /* Adjust padding as needed */
    margin: 0; /* Remove default margin */
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-top: 80px;
}

.food-items-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.food-item {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.food-item-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.food-item-details {
    padding: 20px;
}

.food-item-name {
    font-size: 20px;
    margin-bottom: 10px;
}

.food-item-description {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

.food-item-price {
    font-size: 18px;
    color: #ff6347;
    font-weight: bold;
}

.searchBox {
    display: flex;
    max-width: 250px;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background: #242425;
    border-radius: 50px;
    position: relative;
    margin-left: 1000px; /* Adjust the margin as needed */
}

.searchButton {
    color: white;
    position: absolute;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--gradient-2, linear-gradient(90deg, #2AF598 0%, #009EFD 100%));
    border: 0;
    display: inline-block;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

/* Hover effect */
.searchButton:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
    transform: translateY(-3px);
}

/* Pressing effect */
.searchButton:active {
    box-shadow: none;
    transform: translateY(0);
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    color: #fff;
    font-size: 15px;
    padding: 24px 46px 24px 26px;
}

h1 {
    color: white;
}

.add-to-cart-button {
    border-radius: 5px;
    background-color: #ff6347;
    color: white;
}

.go-to-cart-button {
    border-radius: 5px;
    background-color: green;
    color: white;
}
